.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101010;
    padding: 20px;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    justify-content: cener;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 12px;
}

.navbar ul li a {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-size: 2rem;
    color: #ffffff;
}
