#root {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

/* Default link styles */
a {
    color: #f08080;
    transition: 250ms;
}

a:hover {
    color: #f05050;
}

/* END: Default link styles */

.latest-brand {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: auto;
}

.latest-brand h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.3rem;
    color: white;
}

.latest-brand #current-version {
    position: relative;
    color: transparent;
    background-image: linear-gradient(to left, #87bba2, #5582bb, #3b6064);
    background-clip: text;
    -webkit-background-clip: text;
    isolation: isolate;
}

.latest-brand a {
    font-size: 1.8rem;
    color: white;
    transition: 250ms;
}

.latest-brand a:hover {
    color: #f08080;
}

.info-wrap {
    display: flex;
    margin-bottom: 60px;
}

.info-wrap .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #303030;
    height: 100%;
    width: 50%;
    padding: 20px;
    margin: 0 8px;
    border-radius: 8px;
}

.info-wrap .card h1 {
    font-family: 'Ubuntu', sans-serif;
    color: lightcoral;
    opacity: .7;
    margin-bottom: 8px;
}

.info-wrap .card p {
    font-size: 1.2rem;
}