#root {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

.latest-brand {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: 20px auto;
}

.latest-brand h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.3rem;
    color: white;
}

.latest-brand #current-version {
    position: relative;
    color: transparent;
    background-image: linear-gradient(to left, #87bba2, #5582bb, #3b6064);
    background-clip: text;
    -webkit-background-clip: text;
    isolation: isolate;
}

.latest-brand a {
    font-size: 1.8rem;
    color: white;
    transition: 250ms;
}

.latest-brand a:hover {
    color: lightcoral;
}